.confirmation-div {
    margin-top:10px;
    margin-left:10px;
    text-align:center;
}
.confirmation-div input[type=text] {
  width: 40%;
  max-width:400px;
  height:30px;
  font-family: "Calibri",sans-serif;
  margin:10px 0;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
  font-size:14px;
  float:left;
}
.confirmation-div button {
  height:50px;
  width:250px;
  background-color: #00796B;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top:30px;
        margin-left:20px;
        cursor: pointer;
        outline: none;
            color: #fff;
            background-color: #00796b;
            border: none;
            border-radius: 10px;
            box-shadow: 0 5px #999;
}
#sendEmail {
    margin-left:10px;
    float:left;
}
#printTicket {
    clear:left;
    float:left;
}
#message-div {
    text-align:center;
    margin-top:30px;
}