.confirmation-div {
    margin-top:10px;
    margin-left:10px;
}
.confirmation-div input[type=text] {
  width: 40%;
  max-width:400px;
  height:30px;
  font-family: "trebuchet ms", Georgia,"Times New Roman";
  margin:10px 0;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
  font-size:14px;
  float:left;
}
.confirmation-div button {
  height:30px;
  width:150px;
  background: #3e779d;
  background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
  background: -moz-linear-gradient(to top,  #65a9d7,  #3e779d);
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: white;
  font-family: "trebuchet ms", Georgia,"Times New Roman";
  cursor:pointer;
  margin-top: 10px;
  padding:0;
}
#sendEmail {
    margin-left:10px;
    float:left;
}
#printTicket {
    clear:left;
    float:left;
}