body {
  margin:0px;
}
h1, h2, h3, h4, h5, h6, a {
  margin:0; padding:0;
}
#form-payment {
    margin:0;
    margin-top:20px;
}
.payment-form label {
/*clear:left;
  text-align:left;
  color:#3e779d;
  display:block;
  font-weight:bold;
  font-family: "trebuchet ms", Georgia,"Times New Roman";
   font-size:16px;
   padding-left:30px;*/
   color: #009688;
    display: block;
       font-size: 16px;
       font-weight: bold;
       text-align: left;
}

.payment-form label.clearLeft {
    clear:left;
}
.payment-form {
  /*box-sizing:border-box;
  text-align:center;
  overflow: hidden;
  float:left;*/
  align-items: flex-start;
      align-self: center;
      width: 100%;

}
.payment-form input[type=text] {
  width: 80%;
  max-width:400px;
  height:30px;
  margin:10px 0;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
  font-size:14px;
}
.payment-form input[type=number] {
  height:30px;
  margin:10px 0;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
  font-size:14px;
}
.payment-form textarea {
  width: 80%;
  max-width:400px;
  height:60px;
  margin:10px 0;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
  font-size:14px;
}
.payment-form input[type=submit] {
      margin-top:30px;
}

#payment-div {
    /*clear: left;
	padding: 5px;
	width: 50%;*/
	float: left;
        margin-bottom: 20px;
        padding-left:15px;
        margin-top:30px;
        width: 65%;
    background-color: azure;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);

}

#payment-div h3 {
    font-size:1.9em;

}
.payment-icons {
    float: left;
    padding-bottom: 10px;
    /*padding-left: 20px;*/
}
.clearLeft {
clear:left;
}
.fa-cc-amex {
    color:#0ebfe9;
}
.fa-cc-visa {
    color:0ebfe9;
}
.fa-cc-discover {
    color:#801919;
}
.fa-cc-diners-club {
    color:#0080ff;
}
.fa-cc-mastercard {
    color:#ccac00;
}
span.red {
    color:red;
    padding-left:2px;
}
#zipCode {
    width:20%;
}
.fullWidth {
   height: 100%;
       margin: 10px auto 0 5%;
       width: 70%;
}
.personal-div {
    width:100%;
}

.flat-button {
    margin-bottom:20px;
}
