#alignBody {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 10%;
    /*font-family: 'Waiting for the Sunrise', sans-serif;*/
    height: 100%;
}

#p1{
	float: left;
}

#tripAmount{
	font-weight: bold;
	font-size : 1.2em;
	height: 100%;
	width:100%;
	/*margin-left: 50%;*/
}

#div2{
margin-top: 2%;
margin-bottom: 2%;
height: 100%;
width: 100%;
}

#div3{
 height: 100%;
 margin-top: 8%;
/* margin-bottom: 2%;*/
 width: 100%;
}

#div4{
float: left;
}

#dept{
float: left;
margin-top: 0%;
width: 100%;
}

#arr{
float: left;
}

#div5{
float: left;
margin-left: 3%;
}

#div6{
float: left;
margin-left: 3%;
}
#p1{
width: 100%;
}

#tickDiv{
 background-color: #CCFFCC;
}

#tickDiv img{
	width : 1%;
	height: 1%;
}

section {
    float:left;
    height: 100%;
}

.searchBtn{
    	margin-bottom: 10%;
    	width: 100%;
    	height: 100%;
    	float: left;
		margin-top: 6%;
}

.searchBtnMobile{
    	display: none;
}

.deptArrDur{
	font-family: 'Papyrus', sans-serif;
}

#arr{
	margin-left: 160%;
	font-size: 1.1em;
	width: 100%;
}

#dest{
	margin-left: 160%;
	font-size: 1.1em;
	width: 100%;
}

#dur{
	margin-left: 250%;
	font-size: 1.1em;
	width: 100%;
}

#para1{
	font-size: 1.5em;
	font-weight: bold;
	width: 100%;
}

#dateDisplay{
	font-size: 2em;
	font-weight: bold;
}

#para2{
	font-size: 1em;
	width: 100%;
	padding: 2%;
}


#span3{
	margin-left: 12%;
	font-size: 1.1em;
}

#span4{
	margin-left: 12%;
	font-size: 1.1em;
}

#span5{
	font-size: 1.3em;
	font-weight: bold;
}

#span6{
	font-size: 1.3em;
	font-weight: bold;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00796b;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
  margin-right: 2%;
}

.button:hover {background-color: #4ca197}

.button:active {
  	background-color: #4ca197;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

.left{
	float:left;
	width:75%;
	padding:2%;
}

.right{
	float:right;
	width:15%;
	padding:3%;
}

div.styleDiv {
  	border-top: 1px solid black;
  	border-bottom: 1px solid black;
  	padding: 3%;
}

div#tickDiv{
  	border-left: 3px solid green;
  	padding: 1%;
  	color: green;
}

.rightDisplay{
	width: 250%;
}

.separator{
	margin: 5%;
}

.totalClass{
	float : right;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
}

.stylePrice{
	font-size: 1.5em;
	font-weight: bold;
}

.itemClass{
	border-bottom: 1px solid grey;
}

#priceBorder{
	border-top: 1px solid grey;
}

.divBorder{
	border-bottom: 1px solid grey;
}


.borderTop{
	border-top: 1px solid grey;
}

.floatRight{
     float : right;
}

.styleAnch{
    color: blue;
    text-decoration: none;
    border-bottom: 1px solid green;
	cursor:pointer;
}

.ulStyle
{
    list-style-type: none;

}
.ulStyleTr
{
    list-style-type: none;
}
.ulStyleBag
{
    list-style-type: none;
}
.ulStyleTrCl
{
    list-style-type: none;
}

.styleHeading{
    font-size: 1.9em;
	/*font-family: 'Waiting for the Sunrise', sans-serif;*/
}

.style{
	margin: 0%;
}

#freeCnl img{
	width : 1%;
	height: 1%;
}
#freeCnl{
	margin-top: 2%;
    	margin-bottom: 2%;
    	width: 100%;
    	height: 100%;
	font-weight: bold;
	font-size: 1.1em;
	color: green;
}

.imageDiv{
	width: 100%;
	height: 100%;
	float: left;
	margin-bottom: 1%;
}

.firstDiv{
width: 100%;
height: 100%;
}

.depDate{
width: 20%;
float: left;
height: 100%;
}

.fromToDiv{
width: 80%;
float: left;
height: 100%;
}

.flightDetails{
height: 100%;
width: 100%;
}

.deptDetails{
height: 100%;
width: 19%;
float: left;
}

.arrDetails{
height: 100%;
width: 20%;
float: left;
margin-left: 1%;
padding-right: 5%;
}

.toImageStyle{
height: 100%;
width: 15%;
float: left;
padding-left: 4%;
margin-top: 1%;
}

#arrowImg img{
	width : 28%;
	height: 10%;
}

.durDtls{
height: 100%;
float: left;
width: 30%;
padding-left: 6%;
}

.fromToLabels{
height: 100%;
padding-left: 3%;

}

.fromToValues{
height: 100%;
}

.fromToValPadding{
padding-left: 10%;
}

.fromClass{
width: 100%;
padding-right: 12%;
color: #6b6b6b;
font-size: 1.1em;
font-weight: bold;
}

.toClass{
width:100%;
padding-right: 14%;
color: #6b6b6b;
font-size: 1.1em;
font-weight: bold;
}

.articleStyle{
width: 100%;
height: 100%;
float :left;
background-color: rgba(67,115, 111,0.18);
margin-bottom: 1%;
}

.borderTop{
border-top: 1px solid grey;
}

#passPerPerson{
color: #6b6b6b;
}

#itemPriceSummary{
color: #6b6b6b;
}

#lbltotals{
color: #6b6b6b;
}

.ratesStyle{
color: #6b6b6b;
}

.styleImpInfo{
color: #323232;
}

.fromToStyle{
font-size: 1.1em;
}

.deptArrDurStyle{
font-size: 1.2em;
font-weight: 570;
width: 100%;
}

.orgDestVia{
font-size: 1em;
color: #6b6b6b;
}

.borderBottom{
border-bottom: 1px solid grey;
}

.fromClass1{
width: 100%;
padding-left: 35%;
}

.paddingLeft47{
height: 100%;
font-size: 0.8em;
padding-left: 48%;
padding-top: 0.5%;
padding-bottom: 0.5%;
}

.paddingLeft38{
height: 100%;
font-size: 0.8em;
padding-left: 38.5%;
padding-top: 0.5%;
padding-bottom: 0.5%;
}

.fromToLabels1{
height: 100%;
font-size: 0.8em;
}

.fromToValues1{
height: 100%;
font-size: 0.8em;
}

.flghtNumber{
color: #6b6b6b;
font-size: 1.1em;
}

.carrier{
color: #6b6b6b;
font-size: 1.1em;
}

.stopStyle{
font-size: 1.8em;
font-weight: bold;
}

.stopDestnStyle{
font-size: 1.5em;
color: #6b6b6b;
}

.styleFromToText{
padding-left: 2%;
font-weight: bold;
}

#displayPrice{
text-align: right;
}

#colRight{
float: right;
}

.bookingFeeStyle{
margin-left: 10%;
}

.styleImportantInfo{
	text-align: justify;
}

@media (max-width: 958px) {

   .right {
           width:40% !important;
		   float:left;
    }
	.left {
           width:100% ;
		   float:left;
		   font-size: 1em;
	}

	#freeCnl{
		visibility: hidden;
	}

	.arrDetails{
		height: 100%;
		width: 20%;
		float: left;
		margin-left: 1%;
		padding-right: 10%;
	}

	.durDtls{
		height: 100%;
		padding-left: 1%;
		clear:left;
		width: 100%;
	}

	/*.searchBtn{
    	margin-bottom: 3%;
    	width: 100%;
    	height: 100%;
    	float: left;
		margin-top: 10%;
	}*/

	.toImageStyle{
		height: 100%;
		width: 30%;
		float: left;
		padding-left: 20%;
		margin-top: 1%;
	}

	.searchBtn{
    	display: none;
	}

	.searchBtnMobile{
    	margin-bottom: 3%;
    	width: 100%;
    	height: 100%;
    	float: left;
		margin-top: 10%;
	}

	.searchBtnMobile{
		display: block;
	}

}
