body {
  margin:0px;
    font-family: "Calibri",sans-serif;
}
h1, h2, h3, h4, h5, h6, a {
  margin:0; padding:0;
}
.login {
  margin:0 auto;
  max-width:500px;
}
form {
    padding: 2%;
}
.login-form label {
  text-align:left;
  color: #009688;
  display:block;
  font-weight:bold;
    font-family: "Calibri",sans-serif;
   font-size:16px;
}
.login-form {
  box-sizing:border-box;
  padding-top:15px;
  margin:20px auto 20px 15px;
  text-align:center;
  overflow: hidden;
}
.login-form h4 {
      font-family: "Calibri",sans-serif;
    font-weight:bold;
    font-size:1.5em;
}
.login input[type=text] {
  width: 80%;
  max-width:400px;
  height:30px;
    font-family: "Calibri",sans-serif;
  margin:10px 0;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
  font-size:14px;
}
.login textarea {
  width: 80%;
  max-width:400px;
  height:60px;
  /*font-family: 'Ubuntu', sans-serif;*/
    font-family: "Calibri",sans-serif;
  margin:10px 0;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
  font-size:14px;
}
.login-form input[type=submit] {
  height:40px;
  width:100px;
  background-color: #00796B;
        border: none;
        color: white;
        /*padding: 15px 32px;*/
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top:30px;
        margin-left:20px;
        cursor: pointer;
        outline: none;
            color: #fff;
            background-color: #00796b;
            border: none;
            border-radius: 10px;
            box-shadow: 0 5px #999;
}

}


.login-form input[type=submit]:hover {
        background-color: #4ca197
}

.login-form input[type=submit]:active {
    background-color: #4ca197;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Media Querie*/
/*@media only screen and (min-width : 150px) and (max-width : 530px){
  .login-form h3 {
    text-align:center;
    margin:0;
  }
  .sign-up, .no-access {
    margin:10px 0;
  }
  .login-button {
    margin-bottom:10px;
  }
}*/
#support-div {
    clear: left;
	padding: 5px;
	width: 100%;
	/*margin: 20px auto;*/
}
#support-content {
    /*margin-top: 20px;*/
    /*padding-top: 20px;*/
    width:60%;
    float:left;
}
#other-support-content {
    float: left;
    margin-top: 40px;
    padding-left: 20px;
    padding-top: 30px;

}
#other-support-content ul {
    list-style: none;
    padding-left:10px;
    margin:0;
      font-family: "Calibri",sans-serif;
}
#other-support-content li {
    padding-top:5px;
}

li.noSquare {
    list-style: none;
    content: " ";
    padding-left: 10px;
}
/*ul.square li:before {
    content: "\2022";
}*/
ul.noSquare li:before {
    list-style: none;
    content: " ";
    padding-left: 10px;
}